<style>
.but {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown:hover .but {background-color: #3e8e41;}


.but {background-color: #3e8e41;}

.back{
  background-color: #DA4D75;
}

.navcl{
  background-color: #900C3F;
}

.butn{
  background-color: #FBC6E8;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  
}
.checked {
  color: orange;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.carousel .carousel-indicators li {
  background-color: #080708;
  background-color: #080708;
}

.carousel .carousel-indicators .active {
  background-color: #080708;
}  
          /*animation


          .container {
  padding: 10px 15px;
}
.skyblue {
    background-color: #22c8ff;
}

.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel-item {
    min-height: 350px; 
    height: 100%;
    width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
    background-color: #09c;
}
.carousel-caption h3 {
    padding: .5em;
}
.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}
.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em; 
}

/* Animation delays 
.carousel-caption h3:first-child {
    animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
    animation-delay: 2s;
}
.carousel-caption button {
    animation-delay: 3s;
}

h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}*/

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
        
</style>